<settings>
<category label="[B][COLOR yellow]Apoio[/COLOR][/B]">
	<setting label="[COLOR red]Suporte:[/COLOR]" type="lsep"/>
    <setting label="[COLOR blue]V[/COLOR][COLOR yellow]i[/COLOR][COLOR blue]l[/COLOR][COLOR yellow]h[/COLOR][COLOR blue]a[/COLOR][COLOR yellow]o[/COLOR]: [COLOR blue]Telegram[/COLOR]" type="action" action="RunScript(plugin.video.Vilhao.Matrix, supporttelegram)"/>
	<setting label="[COLOR blue]V[/COLOR][COLOR yellow]i[/COLOR][COLOR blue]l[/COLOR][COLOR yellow]h[/COLOR][COLOR blue]a[/COLOR][COLOR yellow]o[/COLOR]" type="lsep"/>
    <setting label="[COLOR red]O Add-on[/COLOR] [COLOR blue]V[/COLOR][COLOR yellow]i[/COLOR][COLOR blue]l[/COLOR][COLOR yellow]h[/COLOR][COLOR blue]a[/COLOR][COLOR yellow]o[/COLOR] [COLOR red]é de uso gratuito!![/COLOR]"/>
    <setting label="[COLOR red]Proibido a venda deste add-on[/COLOR]"/>
	<setting label="[COLOR lime]Se desejar oferecer um cafe ao[/COLOR] [COLOR blue]V[/COLOR][COLOR yellow]i[/COLOR][COLOR blue]l[/COLOR][COLOR yellow]h[/COLOR][COLOR blue]a[/COLOR][COLOR yellow]o[/COLOR]: [COLOR blue]Paypal[/COLOR] [COLOR red]Clicar Aqui[/COLOR]" type="action" action="RunScript(plugin.video.Vilhao.Matrix, donatePaypal)"/>
</category>
<category label="[B][COLOR yellow]Controle dos Pais[/COLOR][/B]">
		<setting label="[COLOR red]Controle dos Pais:[/COLOR]" type="lsep"/>
		<setting label="[COLOR lime]Exibir Menu Adultos (Servidor 2)[/COLOR]" id="adult" type="bool" default="true" />
		<setting label="[COLOR lime]Exibir Canais Adultos (Lista M3U)[/COLOR]" id="adult2" type="bool" default="true" />
		<setting label="[COLOR lime]Tipo de Teclado (OK para trocar)[/COLOR]" id="keyboard" type="enum" values="[COLOR lime]Númerico[/COLOR]|[COLOR lime]Alfanúmerico[/COLOR]" default="0" />
		<setting label="[COLOR lime]Entre aqui para alterar senha[/COLOR]" type="action" action="RunScript(plugin.video.Vilhao.Matrix, SetPassword)"/>
		<setting label="[COLOR yellow][B]Senha padrão 6969[/B][/COLOR]" type="bool"/>
</category>
<category label="[B][COLOR yellow]Complementos[/COLOR][/B]">
	<setting label="[COLOR red]Configurações de Complemento:[/COLOR]" type="lsep"/>
	<setting label="[COLOR lime]Exibir Mensagem de Boas Vindas[/COLOR]" id="mensagem" type="bool" default="true" />
	<setting label="[COLOR lime]Verificar Complementos[/COLOR]" id="check_addon" type="bool" default="false" />
	<setting label="[COLOR lime]Baixar e Instalar Elementum[/COLOR]" id="elementum" type="bool" default="false" />
	<setting label="[COLOR lime]Baixar e Instalar Youtube[/COLOR]" id="youtube" type="bool" default="false" />
</category>
<category label="[B][COLOR yellow]Canais[/COLOR][/B]">
		<setting label="[COLOR red]Configurações dos Canais:[/COLOR]" type="lsep"/>
		<setting label="[COLOR lime]Exibir Canais 4K (Lista M3U)[/COLOR]" id="uhdtv" type="bool" default="true" />
		<setting label="[COLOR lime]Exibir Canais FHD (Lista M3U)[/COLOR]" id="fhdtv" type="bool" default="true" />
		<setting label="[COLOR lime]Exibir Canais HD (Lista M3U)[/COLOR]" id="hdtv" type="bool" default="true" />
		<setting label="[COLOR lime]Exibir Canais SD (Lista M3U)[/COLOR]" id="sdtv" type="bool" default="true" />
		<setting label="[COLOR lime](Lista M3U) Exibir Apenas Canais de[/COLOR]" id="filtrar" type="enum" values="Desativado|Futebol|Esportes|Filmes e Series|Infantil|Documentario|Aberto|Reality show|Noticias" default="0" />
</category>
</settings>
